:root {
    --bg-body: #f3f2ef;
    --bg-header: #fff;
    --color-light: #fff;
    --color-main: #000;
    --color-secondary: #666;
    --bg-search: #eef3f8;
    --color-notify: #CC1016;
    --color-premium: #915907;
    --color-premium-hover: #5c3905;


    --color-logo: #0077B5;

    --bg-like: #2B7ED2;
    --bg-aplausos: #5C9C42;
    --bg-heart: #DF704D;
    --bg-riso: #79AAB1;


    --color-error: #D13241;
    --color-success: #269E41;
    --color-line: #cdcfd2;

    --radius-feed: 1rem;
}


.dark-mode:root {
    --bg-body: #000000;
    --bg-header: #1D2226;
    --color-main: #E9E9EA;

    --color-premium-hover: #F8C77E;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-color-black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--bg-body);
    height: 100rem;

}

.container {
    width: 124.4rem;
    display: flex;
    justify-content: space-between;
}


header {
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-header);

    position: fixed;
    z-index: 999;

}


nav {
    width: 124.4rem;
    display: flex;
    align-items: center;
}

/* TAMANHO LOGO */
nav .logo img {
    width: 3.7rem;
    height: 3.7rem;
    background-color: var(--blue-logo);

    margin-right: 0.5rem;
}


/* INPUT DE PESQUISA - ÁREA*/
nav .search {
    width: 43.5rem;
}

/* COLOCA O ICON LUPA DENTRO DO INPUT SEARCH */
nav .search .material-symbols-outlined {
    position: absolute;
    padding: 0.5rem 1rem;
}

nav .search input {
    background-color: var(--bg-search);
    width: 28rem;
    height: 3.4rem;
    padding: 0 0.8rem 0 4rem;
    border-radius: 1rem;
    border: 0;

    transition: all .5s;

}

/* INPUT FOCADO - AUMENTA LARGURA */
nav .search input:focus {
    width: 90%;
}

/* TAMANHO PADRÃO PARA OS ICONS */
.menu .material-symbols-outlined {
    font-size: 2rem;
}

/* TAMANHO DO MENU EM RELAÇÃO À ÁREA DISPONÍVEL NA NAV */
nav .menu {
    width: max-content;
}

/* ESTILIZAÇÃO LINKS */
nav .menu a {
    display: inline-flex;
    flex-direction: column;

    align-items: center;

    font-size: 1.2rem;
    color: var(--color-secondary);
    padding: 1rem;


    border-bottom: 0.2rem solid none;

}

.menu a:hover {
    color: var(--color-main);
}

.menu a.active {
    color: var(--color-main);
    border-bottom: 0.2rem solid var(--color-main);

}


a .notifications {
    position: relative;
}

/* PERMITE POSICIONAR A NOTIFICAÇÃO EM QUALQUER ÁREA SOBRE/AO REDOR DO ICON */
.notifications .notify {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-notify);
    color: var(--color-light);

    font-size: 1.2rem;
    font-weight: bold;

    width: 1.8rem;
    height: 1.8rem;
    padding: 1rem;
    border-radius: 0.8rem;


    position: absolute;
    top: -0.8rem;
    right: -1.2rem;
}


.solutions {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    color: var(--color-secondary);
    border-left: 0.1rem solid var(--color-line);
}

/* ÁREA DO LINK PREMIUM */
.premium {
    width: 8.7rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

    text-decoration: underline;
}

.premium a {
    color: var(--color-premium);

}

.premium a:hover {
    color: var(--color-premium-hover);

}










/* SEÇÃO DO FEED */

section#feed {
    max-width: 124.4rem;
    margin: auto;
    display: grid;
    grid-template-columns: 25rem 1fr 30.5rem;
    grid-auto-rows: minmax(12.8rem, auto);
    gap: 2rem;
    border: 0.1rem solid #269E41;
}

.aside-left,
main,
.aside-right {
    margin-top: 8rem;

}





/* estou mexendo AQUI */



/* ASIDE ESQUERDA */
.aside-left .profile-info,
.recent-activities {
    background-color: var(--bg-header);
    border-radius: var(--radius-feed);
}

.aside-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.profile-info .banner {
    background-color: var(--color-logo);
    /* background-image: url('../../media/img-post.jpg'); */
    background-size: cover;
    background-position: top;
    border-radius: 1rem 1rem 0 0;
    height: 6rem;

    /* position: relative; */
}

.profile-info .banner img {

    width: 7.5rem;
    height: 7.5rem;

    /* position: absolute;
    top: 5%;
    left: 10rem; */
    border: 0.2rem solid var(--bg-header);
    border-radius: 50%;

}


/* INFO. USUÁRIO: NOME E DESCRIÇÃO */
.profile-info .user-info {
    text-align: center;
    padding: 10rem 5rem;


    border-bottom: 0.1rem solid var(--color-line);

}

.profile-info .user-info a,
span {
    display: inline-block;

}

.profile-info .user-info a {
    font-size: 1.6rem;
    color: var(--color-main);
    font-weight: bold;
    margin-bottom: 1rem;

}

.profile-info .user-info a:hover {
    text-decoration: underline;
}

.profile-info .user-info span {

    font-size: 1.2rem;
    color: var(--color-secondary);

}



.profile-info .profile-visits,
.profile-info .exclusive-tools,
.profile-info .my-items {
    padding: 1.6rem 0;
    font-size: 1.2rem;

    border-bottom: 0.1rem solid var(--color-line);
}


/* VISITAS - CONTABILIZAÇÃO */
.profile-visits .visit-text a {
    display: inline-flex;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;

    padding: 0.5rem 1.6rem;

}

.visit-text a:hover {
    background-color: var(--color-line);
}

.profile-visits .visit-text .text {
    color: var(--color-main);
}

.profile-visits .visit-text .value {
    color: var(--color-logo);
}






/* FERRAMENTAS EXCLUSIVAS */

.profile-info .exclusive-tools {
    padding: 0;
}

.profile-info .exclusive-tools a {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;

    padding: 2rem 1.6rem;
}

.profile-info .exclusive-tools a:hover {
    background-color: var(--color-line);
}

.exclusive-tools a span:first-child {
    color: var(--color-secondary);
}

.exclusive-tools a .link {
    color: var(--color-main);
    text-decoration: underline;
}

.exclusive-tools a .link:hover {
    color: var(--color-premium-hover);
}

.exclusive-tools a .link::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background-color: var(--color-premium);
}



/* MEUS ITENS */
.profile-info .my-items {
    padding: 0;
}

.profile-info .my-items a {
    display: inline-flex;
    gap: 0.5rem;

    font-weight: bold;
    width: 100%;

    color: var(--color-secondary);
    padding: 1.6rem;
}

.my-items a:hover {
    background-color: var(--color-line);
}




/* ATIVIDADES RECENTES */

.recent-activities {
    position: sticky;
    top: 8rem;

}

.recent-activities details,
.events,
.follow-hashtags {
    padding: 1.6rem 0;
}


summary {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 1.6rem;
    margin-bottom: 1rem;
}

.recent-activities .group {
    color: var(--color-logo);
}


.details ul,
li {
    list-style: none;
}

details ul a {
    padding: 0.5rem 1.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-secondary);

    display: inline-flex;
    align-items: center;
    gap: 0 1rem;
    width: 100%;
}

details ul a .material-symbols-outlined {
    font-size: 1.6rem;
}

details ul a:hover {
    background-color: var(--color-line);
}


.events,
.follow-hashtags,
.find-more {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 1.6rem;
    color: var(--color-logo);
}

.events a:hover,
.follow-hashtags a:hover {
    text-decoration: underline;
}



/* SIMBOLO DE + */

.events a {
    padding: 0.5rem 0;
}

.events .plus {
    padding: 0.5rem 1rem;

}

.events .plus:hover {
    background-color: var(--color-line);
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5rem 1rem;
}


.find-more {
    padding: 0;
    border-top: 0.1rem solid var(--color-line);
}

.find-more a {
    width: 100%;

    text-align: center;
    padding: 1.6rem;
}

.find-more a:hover {
    background-color: var(--color-line);
}



.find-more,
span.plus {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-secondary);
}







/* PRINCIPAL */
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-info,
.recent-activities,
.post-logged-user,
.post,
.news,
.ad {
    /* SOMBRA */
    box-shadow: 0rem -0rem 0.2rem var(--color-secondary);

    border-radius: var(--radius-feed);
}


.post-logged-user {
    background-color: var(--bg-header);
    padding: 2rem;
}

.post-logged-user .start-post {
    display: flex;
    align-items: center;
}

/* AVATAR */
.post-logged-user .start-post .avatar {
    font-size: 4.8rem;
}

/* BTN PARA INICIAR POSTAGEM */
.post-logged-user .start-post .start {
    width: 100%;
    color: var(--color-secondary);
    border: 0.1rem solid var(--color-secondary);
    border-radius: 1.6rem;
    padding: 1rem;
}


/* TIPOS DE POSTAGEM */

.post-type {
    display: flex;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.post-type a {

    display: flex;
    gap: 1rem;

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-secondary);

    padding: 1rem 0.5rem;
    border-radius: var(--radius-feed);
    /* border: 1rem solid; */

}

.post-type a img {
    width: 2.4rem;
    height: 2.4rem;
}

.post-type a:hover {
    background-color: #EBEBEB;

}




/* POSTAGENS */


/* ENGLOBA TODOS OS POSTS */
/* section.posts {


} */


/* ENGLOBA UM POST */
section.posts .post {
    flex: 1;
    background-color: var(--bg-header);
    margin-top: 1rem;
    padding: 2rem;
}

/* DEIXA A ÚLTIMA POSTAGEM COM MARGIN DA PARTE INFERIOR DA PÁGINA */
section.posts .post:last-child {
    margin-bottom: 2rem;
}



/* INFORMAÇÕES + AVATAR DE QUEM FEZ A POSTAGEM */
.post .info-user {
    display: flex;
    margin-bottom: 1rem;
}

/* FOTO USUÁRIO */


.info-user img {
    width: 4.8rem;
    margin-right: 1rem;

}


/* DADOS DO USUÁRIO */
.info-user .data-user {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.data-user .user-name {
    font-size: 1.4rem;
    color: var(--color-main);
    font-weight: bold;

}

.data-user .user-desc,
.time-posted {
    font-size: 1.2rem;
    color: var(--color-secondary);
}







.post-content {
    max-width: 59.5rem;
}

.post-content p {
    font-size: 1.4rem;
    color: var(--color-main);
    font-weight: 500;
    margin-bottom: 1rem;
}

.post-content img,
video {
    width: 100%;

}


.post .social-details {
    flex: 1;
    margin-top: 0.5rem;
}

.social-details .interactions,
.actions {
    display: flex;
    justify-content: space-between;
}


.interactions {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--color-line);
}


.likes span {
    font-size: 1.6rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.likes span:hover {
    text-decoration: underline;
    color: var(--color-main);

}


/* ICONES DE INTERAÇÕES */
.likes img {
    width: 1.6rem;
    cursor: pointer;
    filter: drop-shadow(0 0 0.2rem var(--bg-heart));
}

.likes img:hover {
    transform: scale(1.2);
}



.social-details .interaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-secondary);
}

.social-details .interaction .link:hover {
    color: var(--color-main);
    text-decoration: underline;
    cursor: pointer;
}


.social-details .actions {
    margin-top: 1.6rem;
}

.social-details .actions a {
    display: flex;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem 0.5rem;
    color: var(--color-secondary);

}

.social-details .actions a:hover {
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--bg-body);

}







/* ASIDE DIREITA */
.aside-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.aside-right .news,
.ad {
    background-color: #1D2226;
    border-radius: var(--radius-feed);

}